services:

  # Bind ExceptionHandler to ExceptionHandlerPipeline
  olml89\TelegramUserbot\Backend\Shared\Domain\ExceptionHandler:
    alias: olml89\TelegramUserbot\Backend\Shared\Domain\ExceptionHandlerPipeline

  # Default ExceptionHandlerPipeline: caught exceptions
  olml89\TelegramUserbot\Backend\Shared\Domain\ExceptionHandlerPipeline:
    arguments:
      $exceptionHandlers:
        - '@olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\CaughtExceptionLogger'

  # Bind ExceptionEventHandler to NullableExceptionEventHandler (it does nothing)
  olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\ExceptionEvent\ExceptionEventHandler:
    alias: olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\ExceptionEvent\NullableExceptionEventHandler
