services:

  # Don't register SentryExceptionReportingSubscriber
  olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\EventSubscriber\SentryExceptionReportingSubscriber:
    autowire: false
    autoconfigure: false
    public: false

  # ApiExceptionResponseSubscriber: registered through automatic bindings

  # Bind ExceptionHandler to ExceptionHandlerPipeline
  olml89\TelegramUserbot\Backend\Shared\Domain\Exception\ExceptionHandler:
    alias: olml89\TelegramUserbot\Backend\Shared\Domain\Exception\ExceptionHandlerPipeline

  # ExceptionHandlerPipeline: logs to the app channel
  olml89\TelegramUserbot\Backend\Shared\Domain\Exception\ExceptionHandlerPipeline:
    arguments:
      $exceptionHandlers:
        - '@olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\ExceptionLogger'

  # ApiExceptionResponseMapper
  olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\ApiExceptionResponseMapper:
    arguments:
      $debug: '%kernel.debug%'
