services:

  # Don't register ExceptionEventSubscriber
  olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\EventSubscriber\ExceptionEventSubscriber:
    autowire: false
    autoconfigure: false
    public: false

  # Bind ExceptionHandler to ExceptionHandlerPipeline
  olml89\TelegramUserbot\Backend\Shared\Domain\Exception\ExceptionHandler:
    alias: olml89\TelegramUserbot\Backend\Shared\Domain\Exception\ExceptionHandlerPipeline

  # ExceptionHandlerPipeline: logs to the app channel
  olml89\TelegramUserbot\Backend\Shared\Domain\Exception\ExceptionHandlerPipeline:
    arguments:
      $exceptionHandlers:
        - '@olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\ExceptionLogger'
