# .env files needed to orchestrate the containers in local development
# Generic orchestration variables
dotenv .env

# supervisord variables, used by supervisord .conf files to inject vars through %(ENV_NAME)s syntax
dotenv bot-runtime/.env

# database connection variables
dotenv backend/.env
