########################################################################################################################
# Docker build phase environment variables
########################################################################################################################

# Development debugging (dev only)
XDEBUG_BACKEND_PORT=
XDEBUG_BOT_PORT=
XDEBUG_BOT_MANAGER_PORT=
XDEBUG_DEV_PORT=
PHP_SERVER_NAME=

# Environment
APP_ENV=

# Gateway layer exposed port
# In production it is exposed by traefik, responsible for HTTP/HTTPS routing and TLS termination
# In development it is exposed by nginx
HTTP_PORT=

# postgres exposed port (dev only)
POSTGRES_PORT=

# vite exposed port (dev only)
VITE_PORT=

# grafana configuration
GRAFANA_SECURITY_ADMIN_PASSWORD=
