name: telegram-userbot

services:

  tusd:
    container_name: telegram_userbot_tusd
    build:
      dockerfile: tusd/Dockerfile
    environment:
      TUSD_UPLOAD_ENDPOINT: /tus/uploads
      TUSD_UPLOAD_DIR: /var/uploads
      API_VALIDATION_ENDPOINT: /api/files/validation
    entrypoint: [sh, /entrypoint.sh]
    networks:
      - telegram-userbot-network

  nginx:
    container_name: telegram_userbot_nginx
    depends_on:
      tusd:
        condition: service_started
      backend:
        condition: service_started
    entrypoint: [sh, /entrypoint.sh]
    ports:
      - ${BACKEND_PORT}:80
    networks:
      - telegram-userbot-network

  backend:
    container_name: telegram_userbot_backend
    depends_on:
      alloy:
        condition: service_started
      bot-manager:
        condition: service_started
    environment:
      APP_ENV: ${APP_ENV}
    entrypoint: [sh, bin/entrypoint.sh]
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    networks:
      - telegram-userbot-network

  bot-manager:
    container_name: telegram_userbot_bot_manager
    depends_on:
      redis:
        condition: service_started
      alloy:
        condition: service_started
      bot:
        condition: service_healthy
    environment:
      APP_ENV: ${APP_ENV}
      SUPERVISOR_USER: ${SUPERVISOR_USER}
      SUPERVISOR_PASSWORD: ${SUPERVISOR_PASSWORD}
    tty: true
    entrypoint: [sh, bin/entrypoint.sh]
    networks:
      - telegram-userbot-network

  bot:
    container_name: telegram_userbot_bot
    depends_on:
      alloy:
        condition: service_started
      redis:
        condition: service_started
    healthcheck:
      # Wait until the 9001 port is responsive, meaning supervisor is already running
      test: [CMD, nc, -z, 0.0.0.0, '9001']
      interval: 5s
      timeout: 10s
      retries: 50
    environment:
      APP_ENV: ${APP_ENV}
      SUPERVISOR_USER: ${SUPERVISOR_USER}
      SUPERVISOR_PASSWORD: ${SUPERVISOR_PASSWORD}
    tty: true
    entrypoint: [sh, bin/entrypoint.sh]
    networks:
      - telegram-userbot-network

  redis:
    container_name: telegram_userbot_redis
    build:
      dockerfile: redis/Dockerfile
    entrypoint: [sh, /usr/local/bin/entrypoint.sh]
    networks:
      - telegram-userbot-network

  postgres:
    container_name: telegram_userbot_postgres
    build:
      dockerfile: postgres/Dockerfile
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    entrypoint: [sh, /usr/local/bin/entrypoint.sh]
    command: [-c, config_file=/etc/postgresql/postgresql.conf]
    networks:
      - telegram-userbot-network

  # Centralized logging services
  loki:
    container_name: telegram_userbot_loki
    depends_on:
      alloy:
        condition: service_started
    image: grafana/loki:latest
    networks:
      - telegram-userbot-grafana-network

  alloy:
    container_name: telegram_userbot_alloy
    build:
      dockerfile: alloy/Dockerfile
    entrypoint: [sh, /entrypoint.sh]
    networks:
      - telegram-userbot-grafana-network

  grafana:
    container_name: telegram_userbot_grafana
    depends_on:
      loki:
        condition: service_started
    build:
      dockerfile: grafana/Dockerfile
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_SECURITY_ADMIN_PASSWORD}
    ports:
      - ${GRAFANA_PORT}:3000
    networks:
      - telegram-userbot-grafana-network

volumes:
  telegram-userbot-db:
  telegram-userbot-redis:

networks:
  telegram-userbot-network:
  telegram-userbot-grafana-network:
