services:

  backend:
    build:
      dockerfile: ./backend/Dockerfile
      target: dev
      args:
        XDEBUG_PORT: ${XDEBUG_BACKEND_PORT}
    environment:
      PHP_IDE_CONFIG: "serverName=${PHP_SERVER_NAME}"
    volumes:
      - ./shared:/telegram-userbot/shared:cached
      - ./backend:/telegram-userbot/backend:cached

  bot-manager:
    build:
      dockerfile: bot-manager/Dockerfile
      target: dev
      args:
        XDEBUG_PORT: ${XDEBUG_BOT_MANAGER_PORT}
    environment:
      PHP_IDE_CONFIG: "serverName=${PHP_SERVER_NAME}"
    volumes:
      - ./shared:/telegram-userbot/shared:cached
      - ./bot-manager:/telegram-userbot/bot-manager:cached

  bot:
    build:
      dockerfile: bot/Dockerfile
      target: dev
      args:
        XDEBUG_PORT: ${XDEBUG_BOT_PORT}
    environment:
      PHP_IDE_CONFIG: "serverName=${PHP_SERVER_NAME}"
    volumes:
      - ./shared:/telegram-userbot/shared:cached
      - ./bot:/telegram-userbot/bot:cached

  dev:
    depends_on:
      - backend
      - bot
      - bot-manager
    container_name: telegram_userbot_dev
    build:
      dockerfile: dev/Dockerfile
      target: dev
      args:
        XDEBUG_PORT: ${XDEBUG_DEV_PORT}
    cpus: 12
    mem_limit: 24g
    tty: true
    entrypoint: [bin/entrypoint.sh]
    environment:
      APP_ENV: ${APP_ENV}
      PHP_IDE_CONFIG: "serverName=${PHP_SERVER_NAME}"
      COMPOSER_PROCESS_TIMEOUT: 0
    volumes:
      - ./.git:/telegram-userbot/.git:cached
      - ./dev:/telegram-userbot/dev:cached
      - ./shared:/telegram-userbot/shared:cached
      - ./backend:/telegram-userbot/backend:cached
      - ./bot-manager:/telegram-userbot/bot-manager:cached
      - ./bot:/telegram-userbot/bot:cached
