name: telegram-userbot

services:

  # Load backend/public from the telegram-userbot-backend-public volume
  nginx:
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:cached
      - telegram-userbot-backend-public:/telegram-userbot/backend/public:cached
      - ./shared/var/log/nginx:/var/log/nginx:cached

  # Load backend/public from the telegram-userbot-backend-public volume
  backend:
    build:
      dockerfile: backend/Dockerfile
      target: prod
    volumes:
      - telegram-userbot-backend-public:/telegram-userbot/backend/public:cached
      - ./shared/var/log:/telegram-userbot/shared/var/log:cached

  # Mount shared/var/log from the host
  bot-manager:
    build:
      dockerfile: bot-manager/Dockerfile
      target: prod
    volumes:
      - ./shared/var/log:/telegram-userbot/shared/var/log:cached

  # Mount shared/var/log from the host
  bot:
    build:
      dockerfile: bot/Dockerfile
      target: prod
    volumes:
      - ./shared/var/log:/telegram-userbot/shared/var/log:cached

volumes:
  telegram-userbot-backend-public:
