services:

  tusd:
    volumes:
      - ./.runtime/uploads:/var/uploads:cached
      - ./.runtime/log/tusd:/var/log/tusd:cached

  nginx:
    build:
      dockerfile: nginx/Dockerfile
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:cached
      - ./.runtime/log/nginx:/var/log/nginx:cached

  backend:
    build:
      dockerfile: ./backend/Dockerfile
      target: dev
      args:
        XDEBUG_PORT: ${XDEBUG_BACKEND_PORT}
    environment:
      PHP_IDE_CONFIG: "serverName=${PHP_SERVER_NAME}"
    volumes:
      - ./shared:/telegram-userbot/shared:cached
      - ./backend:/telegram-userbot/backend:cached
      - ./.runtime/uploads:/var/uploads:cached
      - ./.runtime/content:/var/content:cached
      - ./.runtime/log/backend:/var/log/backend:cached

  bot-manager:
    build:
      dockerfile: bot-manager/Dockerfile
      target: dev
      args:
        XDEBUG_PORT: ${XDEBUG_BOT_MANAGER_PORT}
    environment:
      PHP_IDE_CONFIG: "serverName=${PHP_SERVER_NAME}"
    volumes:
      - ./shared:/telegram-userbot/shared:cached
      - ./bot-manager:/telegram-userbot/bot-manager:cached
      - ./.runtime/log/bot-manager:/var/log/bot-manager:cached

  bot:
    build:
      dockerfile: bot/Dockerfile
      target: dev
      args:
        XDEBUG_PORT: ${XDEBUG_BOT_PORT}
    environment:
      PHP_IDE_CONFIG: "serverName=${PHP_SERVER_NAME}"
    volumes:
      - ./shared:/telegram-userbot/shared:cached
      - ./bot:/telegram-userbot/bot:cached
      - ./.runtime/log/bot:/var/log/bot:cached

  redis:
    volumes:
      - telegram-userbot-redis:/data:cached
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf:cached
      - ./.runtime/log/redis:/var/log/redis:cached

  # Expose the database port to the outside: only during development
  postgres:
    ports:
      - ${POSTGRES_PORT}:${DB_PORT}
    volumes:
      - telegram-userbot-db:/var/lib/postgresql/data:cached
      - ./postgres/postgresql.conf:/etc/postgresql/postgresql.conf:cached
      - ./.runtime/log/postgres:/var/log/postgres:cached

  alloy:
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy:cached
      - ./.runtime/log/alloy:/var/log/alloy:cached

  grafana:
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:cached

  # Vite server for Hot Module Replacement
  vite:
    container_name: telegram_userbot_vite
    image: node:20-alpine
    depends_on:
      - backend
    working_dir: /telegram-userbot/backend
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    ports:
      - ${VITE_PORT}:5173
    volumes:
      - ./backend:/telegram-userbot/backend:cached

  # dev container to run phpunit, phpstan, pint
  dev:
    container_name: telegram_userbot_dev
    depends_on:
      - backend
      - bot
      - bot-manager
    build:
      dockerfile: dev/Dockerfile
      target: dev
      args:
        XDEBUG_PORT: ${XDEBUG_DEV_PORT}
    cpus: 12
    mem_limit: 24g
    tty: true
    entrypoint: [bin/entrypoint.sh]
    environment:
      APP_ENV: ${APP_ENV}
      PHP_IDE_CONFIG: "serverName=${PHP_SERVER_NAME}"
      COMPOSER_PROCESS_TIMEOUT: 0
    volumes:
      - ./.git:/telegram-userbot/.git:cached
      - ./dev:/telegram-userbot/dev:cached
      - ./shared:/telegram-userbot/shared:cached
      - ./backend:/telegram-userbot/backend:cached
      - ./bot-manager:/telegram-userbot/bot-manager:cached
      - ./bot:/telegram-userbot/bot:cached
