includes:
    - ../vendor/phpstan/phpstan-strict-rules/rules.neon

    # Used to properly inspect unit tests
    - ../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkUnionTypes: true
    checkExplicitMixed: true
    checkUninitializedProperties: true
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true
    checkClassCaseSensitivity: true
    checkFunctionNameCase: true
    checkFunctionArgumentTypes: true
    checkMissingTypehints: true
