########################################################################################################################
# backend container environment variables
########################################################################################################################

# Symfony application variables
APP_SECRET=${APP_SECRET}
APP_DEBUG=${APP_DEBUG}

# Sentry
BACKEND_SENTRY_DSN=${BACKEND_SENTRY_DSN}

# Database credentials
DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
DB_NAME=${DB_NAME}
DB_USER=${DB_USER}
DB_PASSWORD=${DB_PASSWORD}

# Content library pagination
APP_LIBRARY_CONTENT_PER_PAGE=${APP_LIBRARY_CONTENT_PER_PAGE}
