parameters:
    paths:
        - bin
        - migrations
        - public
        - src
        - tests

    excludePaths:
        - assets
        - config
        - doc
        - node_modules
        - php-fpm
        - public/build
        - templates
        - var
        - vendor

    bootstrapFiles:
        - vendor/autoload.php
