<label class="form-label full-width" data-content-title>
    <span class="form-label-title" data-error-for="title">Title</span>
    <input
        name="title"
        type="text"
        {% if minLength is defined and minLength is not null %}minlength="{{ minLength }}"{% endif %}
        {% if maxLength is defined and maxLength is not null %}maxLength="{{ maxLength }}"{% endif %}
        class="form-input"
        placeholder="Enter title..."
        data-text-input
        {% if required|default(false) %}required{% endif %}/>
</label>
