{% extends 'base.html.twig' %}

{% block title %}Error - Admin Panel{% endblock %}

{% block body %}
    <div class="content-header">
        <h2>Error</h2>
        <p>Unexpected.</p>
    </div>

    <div class="alert alert-error">
        ❌ An unexpected error happened. Check out the application logs.
    </div>
{% endblock %}
