services:

  # ContentRepository
  olml89\TelegramUserbot\Backend\Content\Domain\ContentRepository:
    alias: olml89\TelegramUserbot\Backend\Content\Infrastructure\Doctrine\DoctrineContentRepository

doctrine:
  # Types
  dbal:
    types:
      contentTitle: olml89\TelegramUserbot\Backend\Content\Infrastructure\Doctrine\Types\TitleType
      contentDescription: olml89\TelegramUserbot\Backend\Content\Infrastructure\Doctrine\Types\DescriptionType
      contentPrice: olml89\TelegramUserbot\Backend\Content\Infrastructure\Doctrine\Types\PriceType
  # Mappings
  orm:
    entity_managers:
      default:
        mappings:
          Content:
            is_bundle: false
            type: xml
            dir: '%kernel.project_dir%/src/Content/Infrastructure/Doctrine/Mappings'
            prefix: olml89\TelegramUserbot\Backend\Content\Domain
            alias: Content
