services:

  # UploadFinder
  olml89\TelegramUserbot\Backend\File\Domain\Upload\UploadFinder:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\TusdUploadFinder

  olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\TusdUploadFinder:
    arguments:
      $uploadDirectory: '/var/uploads'

  # FileRepository
  olml89\TelegramUserbot\Backend\File\Domain\FileRepository:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\Doctrine\DoctrineFileRepository

  # FileManager
  olml89\TelegramUserbot\Backend\File\Domain\FileManager:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\SymfonyFileManager

  olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\SymfonyFileManager:
    arguments:
      $filesystem: '@filesystem'
      $contentDirectory: '/var/content'

  # AudioFactory
  olml89\TelegramUserbot\Backend\File\Domain\Factory\AudioSpecializer:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\GetId3\GetId3AudioSpecializer

  getID3:
    class: getID3

  olml89\TelegramUserbot\Backend\File\Infrastructure\GetId3\GetId3AudioSpecializer:
    arguments:
      $fileManager: '@olml89\TelegramUserbot\Backend\File\Domain\FileManager'
      $getID3: '@getID3'

doctrine:
  # Types
  dbal:
    types:
      fileOriginalName: olml89\TelegramUserbot\Backend\File\Infrastructure\Doctrine\OriginalNameType
      fileSize: olml89\TelegramUserbot\Backend\File\Infrastructure\Doctrine\SizeType
      fileDuration: olml89\TelegramUserbot\Backend\File\Infrastructure\Doctrine\DurationType
  # Mappings
  orm:
    entity_managers:
      default:
        mappings:
          File:
            is_bundle: false
            type: xml
            dir: '%kernel.project_dir%/src/File/Infrastructure/Doctrine'
            prefix: olml89\TelegramUserbot\Backend\File\Domain
            alias: File
