services:

  # UploadFinder
  olml89\TelegramUserbot\Backend\File\Domain\Upload\UploadFinder:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\TusdUploadFinder

  olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\TusdUploadFinder:
    arguments:
      $uploadDirectory: '/var/uploads'

  # FileRepository
  olml89\TelegramUserbot\Backend\File\Domain\FileRepository:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\Doctrine\DoctrineFileRepository

  # FileManager
  olml89\TelegramUserbot\Backend\File\Domain\FileManager:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\SymfonyFileManager

  olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\SymfonyFileManager:
    arguments:
      $filesystem: '@filesystem'
      $contentDirectory: '/var/content'

  # FFMpeg, instantiated through a static constructor factory
  FFMpeg\FFMpeg:
    factory: [ 'FFMpeg\FFMpeg', 'create' ]
    arguments:
      $configuration:
        ffmpeg.binaries: '/usr/bin/ffmpeg'
        ffprobe.binaries: '/usr/bin/ffprobe'
        timeout: 3600
        threads: 12

  # ImageSpecializer
  olml89\TelegramUserbot\Backend\File\Domain\FileSpecializer\ImageSpecializer:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\FileSpecializers\PhpImageSpecializer

  # AudioSpecializer
  olml89\TelegramUserbot\Backend\File\Domain\FileSpecializer\AudioSpecializer:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\FileSpecializers\FfmpegAudioSpecializer

  # VideoSpecializer
  olml89\TelegramUserbot\Backend\File\Domain\FileSpecializer\VideoSpecializer:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\FileSpecializers\FfmpegVideoSpecializer

  # ImageMetadataStripper
  olml89\TelegramUserbot\Backend\File\Domain\FileMetadataStripper\ImageMetadataStripper:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\FileMetadataStrippers\ImagickMetadataStripper

doctrine:
  # Types
  dbal:
    types:
      fileName: olml89\TelegramUserbot\Backend\File\Infrastructure\Doctrine\Types\FileNameType
      fileOriginalName: olml89\TelegramUserbot\Backend\File\Infrastructure\Doctrine\Types\OriginalNameType
      fileSize: olml89\TelegramUserbot\Backend\File\Infrastructure\Doctrine\Types\SizeType
      fileDuration: olml89\TelegramUserbot\Backend\File\Infrastructure\Doctrine\Types\DurationType
  # Mappings
  orm:
    entity_managers:
      default:
        mappings:
          File:
            is_bundle: false
            type: xml
            dir: '%kernel.project_dir%/src/File/Infrastructure/Doctrine/Mappings'
            prefix: olml89\TelegramUserbot\Backend\File\Domain
            alias: File
