services:

  # UploadFinder
  olml89\TelegramUserbot\Backend\File\Domain\Upload\UploadFinder:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\TusdUploadFinder

  olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\TusdUploadFinder:
    arguments:
      $uploadDirectory: '/var/uploads'

  # UploadConsumer
  olml89\TelegramUserbot\Backend\File\Domain\Upload\UploadConsumer:
    arguments:
      $contentDirectory: '/var/content'

  # FileRepository
  olml89\TelegramUserbot\Backend\File\Domain\FileRepository:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\Doctrine\DoctrineFileRepository

  # FileManager
  olml89\TelegramUserbot\Backend\File\Domain\FileManager:
    alias: olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\SymfonyFileManager

  olml89\TelegramUserbot\Backend\File\Infrastructure\Symfony\File\SymfonyFileManager:
    arguments:
      $filesystem: '@filesystem'
      $contentDirectory: '/var/content'

# Mappings
doctrine:
  orm:
    entity_managers:
      default:
        mappings:
          File:
            is_bundle: false
            type: xml
            dir: '%kernel.project_dir%/src/File/Infrastructure/Doctrine'
            prefix: olml89\TelegramUserbot\Backend\File\Domain
            alias: File
