########################################################################################################################
# bot-manager container environment variables
########################################################################################################################

# Sentry
BOT_MANAGER_SENTRY_DSN="${BOT_MANAGER_SENTRY_DSN}"
