services:

  # Register ExceptionEventSubscriber
  olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\EventSubscriber\ExceptionEventSubscriber:
    autowire: true
    autoconfigure: true
    arguments:
      $exceptionSentryReporter: '@olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\ExceptionSentryReporter'
      $httpExceptionMapper: '@olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\HttpExceptionMapper'

  # ExceptionHandlerPipeline: logs to the app channel, reports to Sentry
  olml89\TelegramUserbot\Backend\Shared\Domain\Exception\ExceptionHandlerPipeline:
    arguments:
      $exceptionHandlers:
        - '@olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\ExceptionLogger'
        - '@olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\ExceptionSentryReporter'
