services:

  # Register SentryExceptionReportingSubscriber
  olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\EventSubscribers\SentryExceptionReportingSubscriber:
    autowire: true
    autoconfigure: true
    arguments:
      $exceptionSentryReporter: '@olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\ExceptionSentryReporter'

  # ExceptionHandlerPipeline: logs to the app channel, reports to Sentry
  olml89\TelegramUserbot\Backend\Shared\Domain\Exception\Handler\ExceptionHandlerPipeline:
    arguments:
      $exceptionHandlers:
        - '@olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\ExceptionLogger'
        - '@olml89\TelegramUserbot\Backend\Shared\Infrastructure\Symfony\Exception\ExceptionSentryReporter'
