########################################################################################################################
# shared environment variables
########################################################################################################################

# Redis
REDIS_STATUS_CHANNEL=
REDIS_PHONE_CODE_STORAGE_KEY=

# Supervisor
SUPERVISOR_CONFIG_PATH=
# inet-http-server variables for supervisor inter-container communication
SUPERVISOR_USER=
SUPERVISOR_PASSWORD=

# Logger
LOG_DIRECTORY=
LOG_LEVEL=
