########################################################################################################################
# bot container environment variables
########################################################################################################################

# Sentry
BOT_SENTRY_DSN=${BOT_SENTRY_DSN}

# Telegram credentials
TELEGRAM_API_ID=${TELEGRAM_API_ID}
TELEGRAM_API_HASH=${TELEGRAM_API_HASH}
TELEGRAM_PHONE_NUMBER=${TELEGRAM_PHONE_NUMBER}
TELEGRAM_USERNAME=${TELEGRAM_USERNAME}
