name: GHCR

# Builds and automatically publishes the dev Dockerfile to run the CI in GitHub
#
# The other Dockerfiles could be potentially uploaded to GHCR for production, deployment or other workflows.

on:
  push:
    branches:
      - main
    paths:
      - 'dev/Dockerfile'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push dev image (general CI)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dev/Dockerfile
          push: true
          tags: ghcr.io/olml89/telegram-userbot-dev:ci
